<!DOCTYPE html>
<!-- saved from url=(0066)http://dmolinarius.github.io/demofiles/elc-d3/cours3/example1.html -->
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>example1</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>


<<<<<<< Updated upstream
    <body >

=======
    <body>
>>>>>>> Stashed changes
        <header>
            zjefbhezfbh
        </header>

        
        <div id="allPage"> 
            <div class = "bandeau">
                ouiiiiiiiiiiii
            </div>
            <div class = "mainPage">
                <div class="frontMusic">
                    <div class="canva">
                        <div class="imageFront">
                            <img src="images/SawanoCover.jpg" id="albumCover"/>
                        </div>
                        <div class="texteFront">
                            <h3>Titre</h3>
<<<<<<< Updated upstream
                            
                            <h1 onclick="modif()">Remember</h1></a>
                            
                            <h3 id="infos">Sawano Hiroyuki, 2012</h3>
=======
                            <h1>Remember</h1>
                            <h3 id="infos">Sawano Hiroyuki, 2012, <%=  title %></h3>
>>>>>>> Stashed changes
                        </div>
                    </div>
                </div>
                <div class="folders">
                        <%= liste %>
                </div>

            </div>

        </div>

        
    </body>


    <script>

        
        function modif(){
            location.href="http://localhost:3000/listen"
            console.log("oueiuzfeziuhf")
        }

        

    </script>
</html>