<!DOCTYPE html>
<!-- saved from url=(0066)http://dmolinarius.github.io/demofiles/elc-d3/cours3/example1.html -->
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>example1</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>


    <body onload="mod()">

        <header>
            zjefbhezfbh
        </header>

        
        <div id="allPage"> 
            <div class = "bandeau">
                nooooooon
            </div>
            <div class = "mainPage">
                <div class="frontMusic">
                    <div class="canva">
                        <div class="imageFront">
                            <img src="images/SawanoCover.jpg" id="albumCover"/>
                        </div>
                        <div class="texteFront">
                            <h3>Titre</h3>
                            <h1>Remember</h1>
                            <h3 id="infos">Sawano Hiroyuki, 2012</h3>
                            <div class="player">
                                <audio src="/music/pkmn.mp3"></audio>
                                <span class="playPause">
                                    <ion-icon name="play"></ion-icon>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="folders">

                </div>

            </div>

        </div>

        
    </body>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    <script>

    
        function mod(){
            const carre = document.querySelector(".canva")
            carre.classList.add("biggerCanva")
            console.log("njezfnjzeifziejfb")
        }
        
        
    </script>
    
</html>

