*{
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  margin-bottom: 10px;
  margin-left: 0;
}

h3 {
  color: white;
  font-size: medium;
  
}

#infos{
  margin-left: 10px;
}



body {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width:100%;
  background-image: url("/images/music.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header{
  z-index: 100000;
  width: 100vw;
  height: 50px;
  position: fixed;
  background-color: black;
}

#allPage{
  padding-top: 50px;
  display: flex;
  flex-direction:row;
  height: 100%;
  width:98.9vw;

}

.bandeau {
  text-align: center;
  color: aliceblue;
  position: fixed;
  height: 120vh;
  width: 15vw;
  background-color: black;
}

.mainPage {
  margin-right: 1vw;
  margin-left: 15vw;
  height: 100%;
  width:90vw;
}

.frontMusic{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width:100%;
}

.canva{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 85%;
  background-color:#2e2e2e70;
  transition: all 3s;

}

.biggerCanva{
  background-color:#2e2e2e70;
  height: 100%;
  width: 100%;
}

.imageFront{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
}

.albumCover{
  
  height: 100%;
  width: auto;
}

.texteFront{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;
  width: 70%;
}

.player {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
}

.playPause {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blueviolet;
  color:black;
  font-size: medium;
}

.folders {
  height: 50vh;
  width:100%;
  background-color:#2e2e2e;
}





