@import url('https://fonts.googleapis.com/css2?family=Roboto,wght@1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

h1 {
  color: white;
  margin-bottom: 10px;
  margin-left: 0;
}

h3 {
  color: white;
  font-size: medium;
  
}

#infos{
  margin-left: 10px;
  margin-right: 10px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}



body {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width:100%;
  
  background-image: url("/images/music.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header{
  z-index: 100000;
  width: 100vw;
  height: 50px;
  position: fixed;
  background-color: black;
}

#allPage{
  padding-top: 50px;
  display: flex;
  flex-direction:row;
  height: 100%;
  width:98.9vw;

}

.bandeau {
  text-align: center;
  color: aliceblue;
  position: fixed;
  height: 120vh;
  width: 15vw;
  background-color: black;
}

.mainPage {
  margin-left: 15vw;
  height: 100%;
  width:85vw;
}

.frontMusic{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width:85vw;
}

.canva{
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 85%;
  background-color:#2e2e2e70;
  transition: all 3s;

}

.biggerCanva{
  background-color:#2e2e2e70;
  height: 100%;
  width: 100%;
}

.imageFront{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 30%;
  overflow: hidden;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.albumCover{
  
  height: 100%;
  width: auto;
}

.texteFront{
  padding-left: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;
  width: 65%;
}

.infosall{
  display: flex;
  flex-direction: row;
}

.player {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
}

.player span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blueviolet;
  color:black;
  font-size: medium;
  cursor: pointer;
}

.folders {
  height: auto;
  width:97%;
  max-width: 97%;
  background-color:#2e2e2e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container_img_txt{
  border-radius: 5%;
  width: 200px;
  height: 300px;
  margin: 5%;
  background-color: #272727;
  padding: 1%;
  transition: 0.5s;
}

.container_img_txt:hover{
  transform: translate(0,10px);
  background-color: #373737;
  width: 225px;
  height: 325px;
  margin: 4%;
}

.div_artiste {
  font-weight: 600;
  padding: 5%;
  padding-bottom: 0;
  color: white;
  max-width: 100%;
  height: 15%;
  display: flex;
  font-size: 0.5em;
  font-family: 'Roboto', sans-serif;
}

.div_album {
  font-weight: 600;
  padding: 5%;
  padding-bottom: 0;
  color: white;
  max-width: 100%;
  height: 15%;
  display: flex;
  font-size: 0.5em;
  font-family: 'Roboto', sans-serif;
}


.div_img {
  border-radius: 5%;
  height: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.div_categ{
  font-weight:normal;
  padding: 5%;
  padding-top: 0;
  color: lightgrey;
  max-width: 100%;
  height: 10%;
  display: flex;
  text-align: right;
  font-size: 0.4em;
  font-family: 'Roboto', sans-serif;
}

.div_tot_songs{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  font-size: 0.5em;
  
}

.div_song{
  padding: 1.5%;
  color: white;
}

.div_song:hover{
  background-color: #373737;
}

.div_up{
  
  font-size: 0.8em;
  margin: 1.5%;
  margin-bottom: 2%;
  color: lightgrey;
  word-spacing: 0.9em;
  border-bottom: solid 1px lightgrey;
}

.img_artiste {
  height: 100%;
}
.img_album {
  height: 100%;
}








